/** VARIABLES Y FUNCIONES **/
/** HEADER **/
.cabecera {
  z-index: 999;
  display:block;
  /*margin-bottom: 3rem;*/
  
  
}

.navbar-toggler-icon{
  width: 1em;
  height: 1em;
}

.video, .slider1,.slider2{
  width: 80%;  
  height: 20%;
  margin-left: 10%;
  object-fit:over;
  border-radius: 3%;
}

.contenidos{
  
  display: block;
}

.navbar{
  padding-bottom: 0rem;
  padding-top: 0rem;

}

/*..................................TALLES..............................................*/
/*..................................TALLES..............................................*/

.talles{
  margin-left:22rem;
  margin-right: 10rem;
  display: grid;
  grid-template-columns: repeat(3,10rem);
  gap: 10%;
  margin-top: 2rem;
}

.tallesselect{
  -webkit-transform: scale(1.10);
  transform: scale(1.10);
  
}

.talle1:hover,.talle2:hover,.talle3:hover,.talle4:hover,.talle5:hover,.talle6:hover{
  -webkit-transform: scale(1.10);
          transform: scale(1.10);
  -webkit-transition: 1s;
  transition: 1s;
}

.talles img{
  width: 8rem;
  height: 8rem;
  border: solid;
  border-color: #7cd3da;
}

.tallesselect img{
  width: 8rem;
  height: 8rem;
  border: solid;
  border-color: #319699;
}

.talles img{
  width: 10rem;
  height: 10rem;
  
  
}
.talle1,.talle2,.talle3,.talle4,.talle5,.talle6 {
  position: relative;
    display: inline-block;
    text-align: center;
}

.texttalle{
  position: absolute;
  top: 60%;
  left: 42%;
  transform: translate(-50%, -50%);
  color: #030303;
  
}
.texttalleselec{
  position: absolute;
  top: 50%;
  left: 42%;
  transform: translate(-50%, -50%);
  color: #030303;
  
}

.backgroundtext{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 40%;
  top: 60%;
  border: solid;
  border-color: #7cd3da;
  border-top: none;
  
}

.backgroundtextselec{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 40%;
  top: 60%;
  border: solid;
  border-color: #319699;
  border-top: none;
  
}


/*divgridtalle*/
.gridtalle{

border-radius: 4%;
background-color: rgba(209, 203, 203, 0.5);

margin-left: 4rem;
margin-right: 4rem;
}

.gridtalle td{


  padding-left: 10%;

  }

.table{
  font-size: 18px;
  
}

/*
.talle{
  margin-left: 10rem;
  margin-top: 2.5rem;
}
/*..................................FIN TALLES..............................................*/
/*..................................FIN TALLES..............................................*/

/*..................................div btn compras..............................................*/
/*..................................div btn compras..............................................*/

.divcompra:hover{
  -webkit-transform: scale(1.10);
  transform: scale(1.10);
-webkit-transition: 1s;
transition: 1s;
background-color: rgba(241, 228, 228, 0.6);

}
.divcompra {
  height: 10%;
  width: 80%;
  background-color: rgba(241, 228, 228, 0.2);
  margin-bottom: 1rem;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
  border-radius: 5px;
}
.divcompra p{
  display: inline;
  font-size: 2rem;
  margin-left: 0%;
}

.divcompra img{
  display: inline;
  height: 15%;
  width: 15%;
  margin-left: 70%;   
  border: solid;
  border-color: black;
  margin-top: 2%;
  margin-bottom: 2%;


  
 
}

.catalogo1{
  background-color: rgba(241, 228, 228, 0.3   );
}
/*..................................div btn compras..............................................*/
/*..................................div btn compras..............................................*/


*/
.backgroundpag, .imgbackgroundpag {
  height: 150%;
  width: 100%;
  z-index: -500;
  position: fixed;
}

@media (min-width: 992px) {
  .nav-link {
    position: relative;
    margin-right: 20px;
  }

  
.backgroundpag, .imgbackgroundpag {
  height: 150%;
  width: 100%;
  z-index: -500;
  position: fixed;
}
  .nav-link::before {
    content: "";
    height: 3px;
    width: 0%;
    background-color: #9ccfff;
    position: absolute;
    left: 8px;
    bottom: 5px;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
  }
  .nav-link:hover::before {
    width: 80%;
  }
}

/** HEADER **/
/** MAIN **/
main {
  padding-top: 2.7em;
  
}

.texto-navegacion {
  text-decoration: none;
  color: #7F7F7F;
}
.carousel{
  margin-top: 0.3rem;
}

.carousel-item {
  max-height: 39rem;
}

main {
  overflow: hidden;
}

.carousel-text {
  position: relative;
  
  font-size: 10px;
}

.carousel-text h5 {
  font-size: 2.5em;
}
/*.....................................LG................*/
@media (max-width: 767px){
  .carousel-item{
    height: 25%;
    object-fit: cover;
  }
  .navbar{
    padding-bottom: 0rem;
    padding-top: 0rem;
  
  }

  .backgroundpag, .imgbackgroundpag {
    height: 150%;
    width: 100%;
    z-index: -500;
    position: fixed;
  }
/*...................................mobile video...................*/
  .video, .slider1,.slider2{
    width: 300px;  
    height: 200px;
    margin-left: 14%;
    object-fit: cover;
  }

/*.......................seleccion de talles mobile.......................*/
.talles{
  margin-left:0.4rem;
  /*margin-right: 10rem;*/
  display: grid;
  grid-template-columns: repeat(3,8rem);
  gap: 3%;
  margin-top: 1rem;
  
}
.tallesselect{
  -webkit-transform: scale(1.10);
  transform: scale(1.10);
  
}

.talle1:hover,.talle2:hover,.talle3:hover,.talle4:hover,.talle5:hover,.talle6:hover{
  -webkit-transform: scale(1.10);
          transform: scale(1.10);
  -webkit-transition: 1s;
  transition: 1s;
}

.talles img{
  width: 8rem;
  height: 8rem;
  border: solid;
  border-color: #7cd3da;
}

.tallesselect img{
  width: 8rem;
  height: 8rem;
  border: solid;
  border-color: #319699;
}


.texttalle{
  position: absolute;
  top: 60%;
  left: 42%;
  transform: translate(-50%, -50%);
  color: #030303;
  font-size: 0.85rem;
  
  
}
/*..........................sección COMPRAS.............................*/

.divcompra:hover{
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
-webkit-transition: 1s;
transition: 1s;
background-color: rgba(241, 228, 228, 0.6);

}
.divcompra {
  height: 10%;
  width: 100%;
  background-color: rgba(241, 228, 228, 0.2);
  margin-bottom: 1rem;
  margin-left: 1px;
  margin-right: 1px;
  align-items: center;
  border-radius: 5px;
}
.divcompra p{
  display: inline;
  font-size: 1rem;
  margin-left: 32%;
}

.divcompra img{
  display: inline;
  height: 30%;
  width: 30%;
  margin-left: 27%;
  border: solid;
  border-color: black;
 
}
  



}
/*.......................seleccion de talles mobile.......................*/
/*.......................seleccion de talles mobile.......................*/


.gridtalle{

  border-radius: 4%;
  background-color: rgba(209, 203, 203, 0.5);
  
  margin-left: 0rem;
  margin-right: 0rem;
  
  
  }

.table{
  font-size: 15px;
}

.main-payments-metods__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #fff;
  color: #333333;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.8rem;
  border: 2px #efefef solid;
  
}

.main-payments-metods__container ul {
  margin: 1em;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  font-weight: 600;
}

.main-payments-metods__container ul li i {
  display: inline;
  color: #0D6EFD;
}

@media (min-width: 767px) {
  .main-payments-metods__container {
    width: 80%;
    margin: auto;
    border-radius: 0.3em;
    font-size: 1.2rem;
  }

  .backgroundpag, .imgbackgroundpag {
    height: 150%;
    width: 100%;
    z-index: -500;
    position: fixed;
  }

}

.producto a {
  text-decoration: none;
}

.producto .card-text {
  color: #fff;
}

.producto:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 1s;
  transition: 1s;
}

.producto:hover .card-text {
  color: #000000;
}

@media (max-width: 1024px) {
  .producto .card-text {
    color: #000000;
  }
  .navbar{
    padding-bottom: 0rem;
    padding-top: 0rem;
  
  }
}

/** MAIN **/
/** FOOTER **/
.iconos-flotantes {
  position: fixed;
  overflow: hidden;
  bottom: 10px;
  right: 10px;
  width: 140px;
  display: inline;
}

.iconos-flotantes li {
  display: inline;
  font-size: 35px;
}

.iconos-flotantes li a {
  text-decoration: none;
}

.iconos-flotantes li:nth-child(1) a:hover::before {
  color: darkgreen;
}

.iconos-flotantes li:nth-child(2) a:hover::before {
  color: darkblue;
}

.iconos-flotantes li:nth-child(3) a:hover::before {
  color: darkred;
}

.btn--instagram {
  color: #DC3545;
}

.btn--facebook {
  color: #0D6EFD;
}

.btn--whatsapp {
  color: #2C9162;
}

/** FOOTER **/
/** SECCION CONTACTO **/
.content {
  color: #fff;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

.logo {
  text-align: center;
  font-size: 3em;
}

.contact__wrapper {
  -webkit-box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contact__wrapper > * {
  padding: 1em;
}

.contact-form {
  background: #222222;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form button,
.contact-form form input {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: none;
  color: #fff;
  border-bottom: 1px solid #0D6EFD;
}

.contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: none;
  color: #fff;
  border-bottom: 1px solid #0D6EFD;
  min-width: 100%;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  min-height: 100px;
  max-height: 200px;
}

.contact-form form button {
  background: #0D6EFD;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
  color: #000000;
}

.contact-form form button:hover, .contact-form form button:focus {
  background: #002e72;
  color: #fff;
}

.contact-info {
  background: #000000;
}

.contact-info h3,
.contact-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

.contac-infor p {
  text-align: center;
  margin: 0 0 1rem 0;
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info ul li {
  padding: .5em;
}

.button {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.2fr 1fr;
      grid-template-columns: 1fr 0.2fr 1fr;
}

/* LARGE SCREEN */
@media (min-width: 767px) {
  .contact__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
  .contact__wrapper > * {
    padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: left;
  }
}

/** SECCION CONTACTO **/
.fa-cart-plus {
  text-decoration: none;
}
/*# sourceMappingURL=estilos.css.map */